body {
    font: 1em sans-serif;
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
    padding: 0 5px;
  
    margin: auto;
    margin-top: 200px;
  }
  
  * {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* p {
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}


  input{
    appearance: none;
  
    width: 100%;
    border: 1px solid #333;
    margin: 20px;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }

input:invalid {
    border: 1px solid #900;
  
  }
  
  input:focus:invalid {
    outline: none;
  }

  .error {
    width: 100%;
    padding: 0;
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }

